#social-collage {
    margin: 30px auto;
    width: 800px;
}
#collage-grid {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 20px;
}
#collage-grid > * {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #dddddd;
}
.grid-large {
    grid-column: span 4;
    grid-row: span 4;
}
.grid-medium {
    grid-column: span 2;
    grid-row: span 2;
}
.grid-small {
    grid-column: span 1;
    grid-row: span 1;
}

