<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
          <!-- This is the inline social media buttons for mobile -->
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox"></div>
          <br>
      

          <!-- This is to show the favicon in a different place -->
          <img  src="/img/favicon2.jpg" alt="Favicon"/>
          <h4>
          <a href="https://www.facebook.com/{{ site.facebook_group }}" aria-label="A BYUI I-Serve Project" target="blank">
            A BYU-I I-Serve Project
          </a> 
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <!-- I've added aria-label="..." to give this link an invisible discernable name -->
            <a href="https://github.com/{{ site.github_username }}" aria-label="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <!-- changed class from text-muted to copy -->
        <!-- This improves the accessibility -->
        <p class="copy">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>