<section id="portfolio" class="portfolio bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1>Here's How You Can Help</h1>
        <hr class="small">
        <div class="portfolio-items">
          <!-- I've added aria-label="..." to give each of these links an invisible discernable name -->
          <!-- I've also changed target="_blank" with target="blank" ; It does the same thing-->
          <!-- Made the article tags into img tags and fixed some minor css-->
          <div class="cont">
            <a href="https://www.gofundme.com/f/covid19-relief-fund" aria-label="Donate" target="blank">
              <img class="col-md-6 portfolio-item" src="../img/dark3b.png" alt="Dark3b">
                <h2 class="portfolio-item-title portfolio-item-title--light centered">Donate</h2>
            </a>
          </div>
          <div class="cont">
            <a href="https://writetoappreciate.wordpress.com/" aria-label="Write Letters" target="blank">
              <img class="col-md-6 portfolio-item" src="../img/light1b.png" alt="Light1b">
                <h2 class="portfolio-item-title portfolio-item-title--dark centered">Write Letters</h2>
            </a>
          </div>
          <div class="cont">
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html" aria-label="Social Distance" target="blank">
              <img class="col-md-6 portfolio-item" src="../img/dark4b.png" alt="Dark4b">
                <h2 class="portfolio-item-title portfolio-item-title--light centered">Social Distance</h2>
            </a>
          </div>
          <div class="cont">
            <a href="https://www.forbes.com/sites/lizfrazierpeck/2020/03/22/15-ways-to-support-local-business-during-the-coronavirus-shutdown/#380add6b1b8f" aria-label="Support Local Businesses" target="blank">
              <img class="col-md-6 portfolio-item" src="../img/light4b.png" alt="Light4b">
                <h2 class="portfolio-item-title portfolio-item-title--dark centered">Support Local Businesses</h2>
            </a>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>