<section id="portfolio" class="portfolio bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1>Here's How You Can Help</h1>
        <hr class="small">
        <div class="portfolio-items">
          <a href="https://www.gofundme.com/f/covid19-relief-fund" target="_blank">
            <article class="col-md-6 portfolio-item" style="background-image: url(../img/dark3.jpg)">
              <h2 class="portfolio-item-title portfolio-item-title--light">Donate</h2>
            </article>
          </a>
          <a href="https://writetoappreciate.wordpress.com/" target="_blank">
            <article class="col-md-6 portfolio-item" style="background-image: url(../img/light1.jpg)">
              <h2 class="portfolio-item-title portfolio-item-title--dark">Write Letters</h2>
            </article>
          </a>
          <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html" target="_blank">
            <article class="col-md-6 portfolio-item" style="background-image: url(../img/dark4.jpg)">
              <h2 class="portfolio-item-title portfolio-item-title--light">Social Distance</h2>
            </article>
          </a>
          <a href="https://www.forbes.com/sites/lizfrazierpeck/2020/03/22/15-ways-to-support-local-business-during-the-coronavirus-shutdown/#380add6b1b8f" target="_blank">
            <article class="col-md-6 portfolio-item" style="background-image: url(../img/light4.jpg)">
              <h2 class="portfolio-item-title portfolio-item-title--dark">Support Local Businesses</h2>
            </article>
          </a>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div id="heart-container" align="center">
    <button id="heart-clicker" onclick="NewHeart()" title="Click to show your support!">
      <p class="first-p">Show Your Support!</p>
      <p>Support Count: <span id="num-hearts">0</span></p>
    </button>
  </div>
</section>
