<section id="social-collage">
    <div id="collage-grid">
        <div class="social-grid-item" onload='SetCollageGrid()'>
            This is filler text.
            This is filler text.
            This is filler text.
        </div>
        <div class="social-grid-item">
            This is filler text.
            This is filler text.
            This is filler text.
        </div>
        <div class="social-grid-item">
            This is filler text.
            This is filler text.
            This is filler text.
        </div>
        <div class="social-grid-item">
            This is filler text.
            This is filler text.
            This is filler text.
        </div>
        <div class="social-grid-item">
            This is filler text.
            This is filler text.
            This is filler text.
        </div>
    </div>
</section>