<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>
  {% include scripts.html %}

  <div class="fakeLoader"></div>
  <script>
    $(document).ready(function () {
        $(".fakeLoader").fakeLoader({
            bgColor: '#54A6CE',
            spinner:"spinner1",
            timeToHide: "3000"
        });
    });
  </script>

  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
  {% include map.html %}
  {% include portfolio.html %}
  {% include social-collage.html %}
  {% include likes.html %}
  {% include footer.html %}
  <div id="partial-color">
    <div id="close-img"></div>
    <img id="img-show" class="reg" src="" alt="placeholder">
  </div>
</body>

</html>
